.page-header {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('../images/SalesCardImages/boardPG.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    align-items: center;
    padding: 5rem 0 0;
}
.page-header p{
    color: var(--background-color);
}
.page-header h1 {
    color: var(--primary-color);
    text-transform: uppercase;
}
.board{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 3rem 5rem;
  text-align: center;
}

.member img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.member h3{
  margin-top: 10px;
}

.member p{
  color: var(--secondary-color);
}

.member{
  transition: 0.3s ease;
}

.member:hover{
  transform: translateY(-5px);
}